/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*Bron: Crossten Font Family | Download free fonts for desktop & webfonts. (z.d.). https://www.cufonfonts.com/font/crossten*/
@font-face {
	font-family: 'CrosstenSemiBold';
	src: url('../fonts/CrosstenSemiBold.woff') format('woff');
}

@font-face {
	font-family: 'CrosstenBook';
	src: url('../fonts/CrosstenBook.woff') format('woff');
}

/*********************/
/* CUSTOM PROPERTIES */
/*Bron: Kevin Powell. (2017, 20 december). CSS Variables - an introduction to CSS custom properties [Video]. YouTube. https://www.youtube.com/watch?v=PHO6TBq_auI*/
/*********************/

:root {
	/* startje */
	--color-text: black;
	--color-textW: white;
	--color-background: white;
	--color-footer: black;
	--color-li-button: black;
	--color-li-button-hover: rgb(112,105,137);
	--section-color: rgb(112,105,137);
	--article-color:rgb(243,225,219);
	--kopjes-font: 'CrosstenSemiBold';
	--p-font:'CrosstenBook';
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
/* Bron studentassistent Quincy */

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }

/****************/
/* JOUW STYLING */
/****************/

/*Bronnen: CSS guidelines. (2022, 1 september). https://cssguidelin.es/\
  What the flexbox?! (z.d.). What The Flexbox?! https://flexbox.io/
 CSS-Tricks. CSS-Tricks. https://css-tricks.com/video-screencasts/150-hey-designers-know-one-thing-javascript-recommend/
*/

body {
	text-align: center;
	margin: 0;
  	padding: 0;
}

h2, h3 {
	font-family: var(--kopjes-font);
}

p, a, button {
	font-family: var(--p-font);
}

summary {
	font-family: var(--p-font);
}


h2, p {
	text-align: start;
}

a {
	text-decoration: none;
	color: var(--color-text);
	cursor: pointer;
}

button {
	text-transform: uppercase;
	cursor: pointer;
}

header nav ul:nth-of-type(1) {
    padding: 0;
	list-style: none;
}

header nav ul:nth-of-type(1) li {
	padding: 1em;
    border-top: 0.75px solid;
}

header {
    background-color:  var(--color-background);
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1;
	padding: 1em;
	align-items:center;
	list-style-type: none;
}

/* MENU open knop bron: T’ Hooft, S., [shooft]. (2023). https://codepen.io/shooft/pen/vYvEOQx. codepen. https://codepen.io/shooft/pen/eYbmRLZ */

header > button {
	order: -1;
    background: none;
    border: none;
	background-image: url();
}

/* MENU sluit knop bron: T’ Hooft, S., [shooft]. (2023). https://codepen.io/shooft/pen/vYvEOQx. codepen. https://codepen.io/shooft/pen/eYbmRLZ */

nav button {
	justify-self:start;
    background: none;
    border: none;
}

/* MENU nav open bron: T’ Hooft, S., [shooft]. (2023). https://codepen.io/shooft/pen/vYvEOQx. codepen. https://codepen.io/shooft/pen/eYbmRLZ */
nav.toonMenu {
	translate:0% 0%;
  }


nav {
	background-color: var(--color-background);
	padding:1em;
	display:grid;
	align-content:start;
	position:fixed;
	overflow: auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	translate:-100% 0%;
	transition:translate .3s;
}

nav a {
	background-color: rgb(236,236,236);
	padding: 1em;
	text-align: start;
}

nav a:hover {
	background-color: rgb(153,153,153);
	transition: 0.3s;
}

nav summary {
	display: flex;
    gap: 2em;
    align-items: center;
    margin-bottom: 0.5em;
	cursor: pointer;
}

nav summary img {
	width: 40%;
}

nav ul {
	display: flex;
	flex-direction: column;
}


nav ul li details {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

main button {
	text-transform: uppercase;
	font-weight: bold;
}


/* EERSTE SECTION */
/* Afbeeldingen, video en tekst bron: Fenty Beauty + Fenty Skin. (z.d.). Fenty Beauty by Rihanna | Beauty for all. https://fentybeauty.com/ */

main > section:nth-of-type(1) {
	height: 40em;
    width: 100%;
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main > section:nth-of-type(1) img {
	width: 100%;
    position: absolute;
	top: 3.5em;
	overflow: hidden;
}

main > section:nth-of-type(1) article {
    background-color: var(--section-color);
    color: var(--color-textW);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    position: relative;
}

main > section:nth-of-type(1) article p:first-of-type {
	font-weight: bold;
	order: 1;
}

main > section:nth-of-type(1) article h2 {
    font-size: xx-large;
    margin: 0;
	order: 2;
}

main > section:nth-of-type(1) article p:last-of-type {
	order: 3;
}


main > section:nth-of-type(1) article a {
	background-color: var(--color-textW);
    padding: 1.5em;
    width: 12em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
	margin-bottom: 1em;
    order: 4;
}

main > section:nth-of-type(1) article a:hover {
	background-color: var(--color-text);
	color: var(--color-textW);
	transition: 0.3s;
}


/* TWEEDE SECTION */

main > section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main > section:nth-of-type(2) article:first-child {
	margin: 0;
	margin-left: 1em;
}


main > section:nth-of-type(2) ul  {
    display: flex;
    gap: 2em;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 2em;
}

main > section:nth-of-type(2) ul li {
	display: flex;
    flex-direction: column;
    width: 60%;
	justify-content: space-between;
    position: relative;
}

main > section:nth-of-type(2) ul li:hover {
	border: .25em solid var(--color-li-button-hover);
	transition: 0.3s;
}

main > section:nth-of-type(2) ul li article {
    text-align: start;
    position: relative;
    left: 1em;
    font-size: smaller;
    width: 80%;
    top: 1em;
	margin-bottom: 2em;
}

main > section:nth-of-type(2) button:first-of-type {
	background: none;
    position: absolute;
    width: fit-content;
    top: 1em;
    right: 2em;
    border: none;
}

main > section:nth-of-type(2) button:last-of-type {
	background: var(--color-li-button);
    color: var(--color-textW);
    padding: 2em;
    border: none;
}

main > section:nth-of-type(2) button:last-of-type:hover {
	background: var(--color-li-button-hover);
    color: var(--color-textW);
	transition: 0.3s;
}


main > section:nth-of-type(2) button img {
	width: 150%;
}


/* VIDEO SECTION */

main > section:nth-of-type(3) {
    width: 100%;
    background-color: var(--color-footer);
	color: var(--color-textW);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main > section:nth-of-type(3) article {
	color: var(--color-textW);
    margin: 1em;
    margin-top: 5em;
    margin-bottom: 1.5em;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main > section:nth-of-type(3) article h2 {
    font-size: large;
    margin: 0;
}

main > section:nth-of-type(3) article a {
	background-color: var(--color-textW);
    padding: 1.5em;
    width: 12em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    margin-bottom: 1em;
}

main > section:nth-of-type(3) article a:hover {
	background: var(--color-li-button-hover);
	color: var(--color-textW);
	transition: 0.3s;
}



/* EERSTE ARTICLE  */

main > article:nth-of-type(1) section {
	margin: 0;
	margin-left: 1em;
}

main > article:nth-of-type(1) ul  {
	display: flex;
    gap: 2em;
    overflow: scroll;
    margin-top: 2em;
}

main > article:nth-of-type(1) ul li {
    display: flex;
    flex-direction: column;
    width: 75%;
}

main > article:nth-of-type(1) ul li:hover {
    border: .25em solid var(--color-li-button-hover);
	transition: 0.3s;
}

/* DERDE SECTION  */

main > section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main > section:nth-of-type(4) article:first-child {
	margin: 0;
	margin-left: 1em;
}


main > section:nth-of-type(4) ul  {
    display: flex;
    gap: 2em;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 2em;
}

main > section:nth-of-type(4) ul li {
	display: flex;
    flex-direction: column;
    width: 60%;
	justify-content: space-between;
    position: relative;
}

main > section:nth-of-type(4) ul li:hover {
	border: .25em solid var(--color-li-button-hover);
	transition: 0.3s;
}

main > section:nth-of-type(4) ul li article {
    text-align: start;
    position: relative;
    left: 1em;
    font-size: smaller;
    width: 80%;
    top: 1em;
	margin-bottom: 2em;
}

main > section:nth-of-type(4) button:first-of-type {
	background: none;
    position: absolute;
    width: fit-content;
    top: 1em;
    right: 2em;
    border: none;
}

main > section:nth-of-type(4) button:last-of-type {
	background: var(--color-li-button);
    color: var(--color-textW);
    padding: 2em;
    border: none;
}

main > section:nth-of-type(4) button:last-of-type:hover {
	background: var(--color-li-button-hover);
	transition: 0.3s;
}


main > section:nth-of-type(4) button img {
	width: 150%;
}

/* TWEEDE ARTICLE  */

main > article:nth-of-type(2) {
	background-color: var(--article-color);
}

main > article:nth-of-type(2) section {
	margin: 0;
	margin-left: 1em;
}

main > article:nth-of-type(2) ul  {
	display: flex;
    gap: 2em;
    overflow: scroll;
    margin-top: 2em;
}

main > article:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    width: 75%;
}

main > article:nth-of-type(2) ul li:hover {
  border: .25em solid var(--color-li-button);
  transition: 0.3s;
}

/*FOOTER*/
/*Bron: HTML forms. (z.d.). https://www.w3schools.com/html/html_forms.asp ,HTML form attributes. (z.d.). https://www.w3schools.com/html/html_forms_attributes.asp */
footer {
	background-color: var(--color-footer);
	color: var(--color-textW);
	padding-top: 2em;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

footer img {
	align-self: center;
    width: 70%;
}

footer article {
	text-align: start;
	margin: 2em;
	margin-top: 1em;
}

footer h2 {
	font-size: large;
}

footer p {
	margin-bottom: 2em;
}

footer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    margin-left: 1em;
    align-items: flex-end;
}

footer input[type=text] {
	background-color: var(--color-footer);
    color: var(--color-textW);
    padding: 0.75em;
    width: 100%;
    border: solid 0.5px;
    border-radius: 5px;
}

footer input[type=button] {
	background-color: transparent;
    color: var(--color-textW);
    border: none;
    width: fit-content;
    position: relative;
    top: -2.5em;
}

input, textarea {
	font-family:var(--p-font);
}

/*Bron: the Details Disclosure element - HTML: HyperText Markup Language | MDN. (2023, 7 juli). MDN Web Docs. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details*/
footer details {
	padding: 1em;
    border: 0.5px solid;
    border-left: none;
    border-right: none;
	border-bottom: none;
}

footer summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-textW);
	cursor: pointer;
}
  
footer summary::after {
	content: '';
	width: 0; 
	height: 0; 
	border-top: 10px solid var(--color-textW);
	border-inline: 7px solid transparent;
	transition: 0.2s;
  }
  
  
footer details[open] > summary::after {
	transform: rotate(-180deg);
}

footer details a {
	text-decoration: underline;
	color: var(--color-textW);
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}
  